---
Title: Cake.DotNetVersionDetector
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">
	<h1>What is it?</h1>
    <p>
        Cake.DotNetVersionDetector is an Addin for <a href="http://cakebuild.net/">Cake</a> which allows executing the DotNetVersionDetector exectuable.
    </p>
</div>
