name: Build

on:
  push:
    branches:
      - master
      - develop
      - "release/**"
      - "hotfix/**"
      - "feature/**"
    tags-ignore:
      - "*"
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v2.2.0
        with:
          fetch-depth: 0
      - name: Cache Tools
        uses: actions/cache@v2
        with:
          path: tools
          key: ${{ runner.os }}-tools-${{ hashFiles('recipe.cake') }}
      - name: Setup .NET Core 2.1
        uses: actions/setup-dotnet@v1.5.0
        with:
          dotnet-version: 2.1.809
      - name: Setup .NET Core 3.1
        uses: actions/setup-dotnet@v1.5.0
        with:
          dotnet-version: 3.1.107
      - name: .net SxS Unix
        if: matrix.os != 'windows-latest'
        run: rsync -a ${DOTNET_ROOT/3.1.107/2.1.809}/* $DOTNET_ROOT/
      - name: .net Sxs Windows
        if: matrix.os == 'windows-latest'
        run: |
          SET DOTNET_31_ROOT=%DOTNET_ROOT:3.1.107=2.1.809%
          xcopy /s /y /d %DOTNET_31_ROOT% %DOTNET_ROOT%
        shell: cmd
      - name: Build project
        uses: cake-build/cake-action@v1
        with:
          script-path: recipe.cake
          target: CI
          verbosity: Diagnostic
          cake-version: 0.38.4
          cake-bootstrap: true